services:

  filezilla:
    image: lscr.io/linuxserver/filezilla:latest
    container_name: filezilla
    shm-size: "1gb"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
    volumes:
      - ./config:/config
    ports:
      - 3000:3000
      - 3001:3001
    restart: unless-stopped
