services:

  filezilla:
    image: lscr.io/linuxserver/filezilla:latest
    container_name: filezilla
    security_opt:
      - seccomp:unconfined #optional
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
      - CUSTOM_USER=User
      - PASSWORD=p4ssw0rd      
    volumes:
      - ./config:/config
    ports:
      - 3000:3000
      - 3001:3001
    restart: unless-stopped

